<button *ngIf="isRootNode" mat-button [matMenuTriggerFor]="menu">
  {{ trigger }}
</button>
<button *ngIf="!isRootNode"
        mat-menu-item
        [matMenuTriggerFor]="menu"
        (menuOpened)="getData(trigger)">
  {{ trigger }}
</button>
<mat-menu #menu="matMenu">

  <ng-container *ngFor="let node of data; let i = index">
    <button mat-menu-item>
      <app-menu-bar [trigger]="node"
                    *ngIf="isExpandable(node); else menuItem">
      </app-menu-bar>
    </button>
    <ng-template #menuItem>
      <button mat-menu-item>{{ node }}</button>
    </ng-template>

  </ng-container>
</mat-menu>
<button mat-menu-item *ngFor="let node of data">{{ node }}</button>
