#homepage-main-div {
/*  color: #fff; */
  background-image: url("../assets/images/home_page_background_new_color.jpg");
  background-size: cover;
  background-repeat: repeat-x, repeat-x;
  background-position: top center;
}
