p {
  font-family: Lato;
}

.mat-toolbar {
  display: flex;
  position: fixed;
  z-index: 100;

  max-width: 80%;
  left: 10%;

  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  background-color: white;
  opacity: 80%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.mat-toolbar > .logo-div {
  height: inherit;
}
