<mat-toolbar>

    <img
         src="../../../../assets/images/etesterLogo.gif"
         style="max-height: 100%;"
         onclick="alert('Hi There!')" />

    <div>
      <button mat-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="animals" color="primary">
        Animal index
      </button>
    </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <span>aPHrodite</span>
  <span class="spacer"></span>
</mat-menu>


<mat-menu #animals="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
</mat-menu>

<mat-menu #vertebrates="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
  <button mat-menu-item>Amphibians</button>
  <button mat-menu-item>Reptiles</button>
  <button mat-menu-item [matMenuTriggerFor]="birds">Birds</button>
  <button mat-menu-item>Mammals</button>
</mat-menu>

<mat-menu #fish="matMenu">
  <button mat-menu-item>Baikal oilfish</button>
  <button mat-menu-item>Bala shark</button>
  <button mat-menu-item>Ballan wrasse</button>
  <button mat-menu-item>Bamboo shark</button>
  <button mat-menu-item>Banded killifish</button>
</mat-menu>

<mat-menu #birds="matMenu">
  <div class="mat-menu-item">none</div>
</mat-menu>
