.tcell {
  border-color: #090909;
  border-style: solid;
  border-width: 25px;
  width: 200px;
  height: 200px;
  border-radius: 125px;
  box-shadow: inset 4px 4px 4px #D5D4D4, 4px 4px 4px #D5D4D4;
  font-family: Arial, sans-serif;
  color: #333333;
  display: flex;
  align-items: center;
}

.caption {
  font-size: larger;
  font-weight: bold;
  margin: 0 auto;
}

.detail {
  font-size: large;
  margin: 0 auto;
}
